<html>
  <head>
    <meta charset="UTF-8">
    <title>환영 합니다.</title>
    
  </head>
  <body>
      <!-- 단일data를 넣어올떄 -->
      <!-- <h1>{{data.name}}님환영합니다.</h1> -->

      <!-- dict multi데이터를 넣어올떄
      <h1>{{data.name}}님환영합니다.</h1>
      <h1>{{data.age}}</h1> -->

      <!-- 사용자가 get요청으로 넘긴 data를 받아올떄 -->
  </body>

  <!--파이썬 템플릿엔진과 html 주석간의 선후문제가 발생할 경우  
  {# # }를 통해 파이썬의 템플릿엔진 문법을 감싼다
  -->
  <!-- <h1></h1>


  <h1>이름은 {{data.name}}님환영합니다.</h1>
  <h1>email은 {{data.email}}님환영합니다.</h1>
  <h1>password은 {data.password}님환영합니다.</h1>
</html> -->